<html>
    <head>
        <title>NFL Teams</title>
        <th:block th:replace="~{fragment/header::header}"></th:block>
    </head>
    <body>
        <div class="row justify-content-center m-0">
            <div class="col-12 col-xl-9 vh-100 d-flex flex-column">
                <div class="row m-0 h-100 pt-3">
                    <div class="col-6 d-flex flex-column align-items-center gap-3">
                        <img style="width: 200px;aspect-ratio: 1/1;" th:src="${logo}" />
                        <p class="font-md" th:text="${#strings.capitalize(info.school)}"></p>
                    </div>
                    <div class="col-6 d-flex flex-column align-items-center">
                        <table style="width: 100%;" class="format-table pt-3">
                            <tbody>
                                <tr>
                                    <td>Current Conference</td>
                                    <td th:text="${info.conference}"></td>
                                </tr>
                                <tr>
                                    <td>Nickname</td>
                                    <td th:text="${info.nickname}"></td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td th:text="${info.state}"></td>
                                </tr>
                                <tr>
                                    <td>Colors</td>
                                    <td>
                                        <div class="d-flex flex-row justify-content-start align-items-center w-100 h-100">
                                            <div th:each="color : ${info.colors}" th:style="|background-color: @{${color}}; width: 30px; aspect-ratio: 1/1; border : 1px solid black; margin: 5px 5px 5px 0px;|"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <th:block th:replace="~{fragment/footer::footer}"></th:block>
            </div>
        </div>
    </body>
    <th:block th:replace="~{fragment/header::script}"></th:block>
</html>