<html lang="en">
    <head>
        <title>Admin Menu</title>
        <th:block th:replace="~{fragment/header::header}"></th:block>
    </head>
    <body>
        <div class="row vh-100 justify-content-center m-0">
            <div class="col-xl-9 col-12 h-100 d-flex flex-column align-items-center gap-3 p-0">
                <!-- LOGO -->
                <div class="w-100 h-25 d-flex flex-row justify-content-center">
                    <img style="width: 150px;aspect-ratio: 1/1;" th:src="${icon}">
                </div>
                <!-- /LOGO -->
                <!-- MENU -->
                <div class="w-100 h-75 d-flex flex-column gap-3 justify-content-center">
                    <div class="w-100" style="height: 50px" th:each="menu : ${menus}">
                        <a th:href="${menu.key}">
                            <button class="w-100 h-100" th:text="${menu.value}"/>
                        </a>
                    </div>
                </div>
                <!-- /MENU -->
                <th:block th:replace="~{fragment/footer::footer}"></th:block>
            </div>
        </div>
    </body>
    <th:block th:replace="~{fragment/header::script}">

    </th:block>
</html>