<html lang="en">
    <head>
        <title>NFL Schedule</title>
        <th:block th:replace="~{fragment/header::header}"></th:block>
    </head>
    <body>
        <div class="row vh-100 justify-content-center m-0">
            <div class="col-xl-9 col-12 h-100 d-flex flex-column align-items-center gap-3 p-0">
                <div class="w-100 h-100 pt-5">
                    <form th:action="@{/admin/nfl/schedule/check}" method="post" th:object="${match}">
                        <div class="row w-100 m-0">
                            <div class="col-xl-6 col-sm-12 d-flex flex-column justify-content-center align-items-center py-2">
                                <p>Team 1</p>
                                <select name="teamOne" class="mb-2">
                                    <option value="">------------</option>
                                    <th:block th:each="key : ${sorted_teams}">
                                        <option th:text="${teams.get(key)}" th:value="${key}"></option>
                                    </th:block>
                                </select>
                                <input class="score-input" th:field="*{scoreOne}" name="scoreOne"/>
                            </div>
                            <div class="col-xl-6 col-sm-12 d-flex flex-column justify-content-center align-items-center py-2">
                                <p>Team 2</p>
                                <select name="teamTwo" class="mb-2">
                                    <option value="">------------</option>
                                    <th:block th:each="key : ${sorted_teams}">
                                        <option th:text="${teams.get(key)}" th:value="${key}"></option>
                                    </th:block>
                                </select>
                                <input class="score-input" th:field="*{scoreTwo}" name="scoreTwo"/>
                            </div>
                            <div class="w-100 d-flex flex-column align-items-center my-2">
                                <span>Date</span>
                                <input type="date" name="date" style="width: 200px;"/>
                            </div>
                            <div class="w-100 d-flex flex-column align-items-center my-2">
                                <span>Round</span>
                                <select name="round">
                                    <th:block th:each="key : ${sorted_rounds}">
                                        <option th:text="${rounds.get(key)}" th:value="${key}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>
                        <div class="mt-5 d-flex flex-row justify-content-center">
                            <button type="submit">Add Match</button>
                        </div>
                    </form>
                </div>
                <th:block th:replace="~{fragment/footer::footer}"></th:block>
            </div>
        </div>
    </body>
    <th:block th:replace="~{fragment/header::script}"></th:block>
</html>