<html lang="en">
    <head>
        <title>NFL Schedule</title>
        <th:block th:replace="~{fragment/header::header}"></th:block>
    </head>
    <body>
        <div class="row vh-100 justify-content-center m-0">
            <div class="col-xl-9 col-12 h-100 d-flex flex-column align-items-center gap-3 p-0">
                <form th:action="@{/admin/nfl/schedule/check}" method="post" th:object="${match}" class="w-100 h-100 py-5">
                    <div class="row m-0 d-flex flex-row justify-content-between h-100">
                        <div class="col-xl-6 col-sm-12 d-flex flex-column justify-content-center align-items-center py-2">
                            <p>Team 1</p>
                            <select name="teamOne" class="mb-2" th:field="*{teamOne}">
                                <option value="">------------</option>
                                <th:block th:each="key : ${sorted_teams}">
                                    <option th:text="${teams.get(key)}" th:value="${key}" th:select="${match.teamOne == key}"></option>
                                </th:block>
                            </select>
                            <input class="score-input" th:field="*{scoreOne}" name="scoreOne"/>
                        </div>
                        <div class="col-xl-6 col-sm-12 d-flex flex-column justify-content-center align-items-center py-2">
                            <p>Team 2</p>
                            <select name="teamTwo" class="mb-2" th:field="*{teamTwo}">
                                <option value="">------------</option>
                                <th:block th:each="key : ${sorted_teams}">
                                    <option th:text="${teams.get(key)}" th:value="${key}" th:select="${match.teamTwo == key}"></option>
                                </th:block>
                            </select>
                            <input class="score-input" th:field="*{scoreTwo}" name="scoreTwo"/>
                        </div>
                        <div class="w-100 d-flex flex-column align-items-center my-2">
                            <span>Round</span>
                            <select name="round">
                                <th:block th:each="key : ${sorted_rounds}">
                                    <option th:text="${rounds.get(key)}" th:value="${key}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="w-100 d-flex flex-column align-items-center my-2">
                            <span>Season</span>
                            <input style="width: 100px; height: 40px; text-align: center;" th:field="*{season}"/>
                        </div>
                        <div class="d-flex flex-row justify-content-center">
                            <button style="height: 40px;" type="submit">Add Match</button>
                        </div>
                    </div>
                </form>
                <th:block th:replace="~{fragment/footer::footer}"></th:block>
            </div>
        </div>
    </body>
    <th:block th:replace="~{fragment/header::script}"></th:block>
</html>