<html lang="en">
    <head>
        <title>Admin Menu</title>
        <th:block th:replace="~{fragment/header::header}"></th:block>
    </head>
    <body>
        <div class="row vh-100 justify-content-center m-0">
            <div class="col-xl-9 col-12 h-100 d-flex flex-column gap-3">
                <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                    <p>Forbidden</p>
                </div>
                <th:block th:replace="~{fragment/footer::footer}"></th:block>
            </div>
        </div>
    </body>
    <th:block th:replace="~{fragment/header::script}"></th:block>
</html>