body {
    font-family: "Ubuntu", sans-serif !important;
}

button {
    cursor: pointer;
    padding: 5px;
    border-radius: 999px;
}

a button span {
    text-decoration: none;
}

table.data-table,
.data-table th,
.data-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.data-table tr td {
    padding: 10px;
}

.data-table tr th {
    text-align: center;
}

.data-table thead {
    background-color: skyblue;
    height: 60px;
}

.data-table tr:nth-child(even) {
    background-color: #d1d0cd;
}

table.format-table {
    border-spacing: 25px;
    border-collapse: separate
}

.base-image {
    width: 100px;
    aspect-ratio: 1/1;
}

.font-md {
    font-size: 16;
}

.font-lg {
    font-size: 24;
}

.font-xl {
    font-size: 32;
    font-weight: bold;
}

.footer {
    width: 100%;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-input {
    text-align:center;
    font-size: 32;
    height: 80px;
    width: 60px;
}

.selectable {
    cursor: pointer;
}

.selectable:hover {
    background-color: color-mix(in srgb, aqua 60%, transparent) !important;
}

.logo {
    aspect-ratio: 1/1;
    width: 60px;
}