<html>
    <head>
        <title>Menu</title>
        <link rel="stylesheet" th:href="@{/admin/css/main.css}">
    </head>
    <body>
        <div class="wrapper stack gap-md">
            <!-- LOGO -->
            <div class="logo-wrapper group jst-center">
                <img class="logo" th:src="@{/admin/img/cogs.svg}">
            </div>
            <!-- /LOGO -->
            <!-- MENU -->
            <div class="menu-item" th:each="menu : ${menus}">
                <a th:href="${menu.key} + '/menu'">
                    <button class="wrapper" th:text="${menu.value}"/>
                </a>
            </div>
            <!-- /MENU -->
        </table>
    </body>
    <script th:href="@{/admin/js/main.js}"></script>
</html>