body {
    padding: 10px;
}

button {
    cursor: pointer;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr th {
    padding: 10px;
}

thead {
    background-color: skyblue;
    height: 60px;
}

tr:nth-child(even) {
    background-color: #d1d0cd;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.menu-wrapper, .form-wrapper {
    width: 60%;
    height: 100%;
}

.logo-wrapper {
    width: 100%;
    height: 200px;
}

.logo {
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: fill;
}

.group {
    display: flex;
    flex-direction: row;
}

.jst-center {
    justify-content: center !important;
}

.aln-center {
    align-items: center !important;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.menu-item {
    width: 100%;
    height: 50px;
}

.gap-xs {
    gap: 10px;
}

.gap-md {
    gap: 20px;
}

.gap-ld {
    gap: 40px;
}

.gap-xl {
    gap: 40px;
}

.fnt-xl {
    font-size: 48;
    font-weight: bolder;
}

.team-logo {
    width: 100px;
    height: 100px;
}